In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
data=pd.read_csv('Scale_in.csv') #路徑可以自己修改

In [3]:
data

     Structure  Group 1  Group 2  Group 3  Group 4
0  Structure 1      NaN      NaN    -0.41      NaN
1  Structure 2    -0.51    -0.43    -0.44    -0.44
2  Structure 3      NaN      NaN    -0.63      NaN
3  Structure 4     1.15      NaN      NaN      NaN
4  Structure 5     1.56      NaN      NaN      NaN
5  Structure 6     1.49      NaN      NaN      NaN
6  Structure 7      NaN      NaN      NaN      NaN
7  Structure 8     1.07      NaN      NaN      NaN
8  Structure 9     0.98      NaN     0.85      NaN

In [4]:
data.iloc[0,0] #印出值

'Structure 1'

In [5]:
data.iloc[0,1] #印出值

nan

In [6]:
type(data.loc[0,'Group 3']) #確認數字資料類型不是字串

numpy.float64

In [7]:
data.isna() #pandas內建函數確認缺失值，True代表有缺失值

   Structure  Group 1  Group 2  Group 3  Group 4
0      False     True     True    False     True
1      False    False    False    False    False
2      False     True     True    False     True
3      False    False     True     True     True
4      False    False     True     True     True
5      False    False     True     True     True
6      False     True     True     True     True
7      False    False     True     True     True
8      False    False     True    False     True

In [8]:
data.index #row的index >> range從0~8

RangeIndex(start=0, stop=9, step=1)

In [9]:
data.columns #column的index

Index(['Structure', 'Group 1', 'Group 2', 'Group 3', 'Group 4'], dtype='object')

In [10]:
data_scale = data.copy() #複製新的dataframe

In [11]:
data_scale #跟原本dataframe一樣

     Structure  Group 1  Group 2  Group 3  Group 4
0  Structure 1      NaN      NaN    -0.41      NaN
1  Structure 2    -0.51    -0.43    -0.44    -0.44
2  Structure 3      NaN      NaN    -0.63      NaN
3  Structure 4     1.15      NaN      NaN      NaN
4  Structure 5     1.56      NaN      NaN      NaN
5  Structure 6     1.49      NaN      NaN      NaN
6  Structure 7      NaN      NaN      NaN      NaN
7  Structure 8     1.07      NaN      NaN      NaN
8  Structure 9     0.98      NaN     0.85      NaN

In [12]:
for row in data.index:
    for col in data.columns[1:]: # data.columns[1:] 代表從'Group 1'開始，因為不需要改Structure那欄的值
        if data.isna().loc[row,col] == True: #先找出原本是缺失值的
            data_scale.loc[row,col] = 'NaN' 
            #有缺失值的話更改data_scale內的資料為'NaN'字串，不直接修改data那個dataframe的是因為不要更改原始資料比較不會出錯
        else:
            num = data.loc[row,col] # 使用num代替只是因為data.loc[row,col]整串太長
            #下面按照規則決定scale的值
            if num >= 2:
                scale = 5
            if num >= 1.5 and num < 2:
                scale = 4
            if num >= 1 and num < 1.5:
                scale = 3
            if num >= 0.5 and num < 1:
                scale = 2
            if num >= 0 and num < 0.5:
                scale = 1
            if num >= -0.5 and num < 0:
                scale = -1
            if num >= -1 and num < -0.5:
                scale = -2
            if num >= -1.5 and num < -1:
                scale = -3
            data_scale.loc[row,col] = scale #最後用scale取代data_scale內的數值

In [13]:
data_scale #修改完成

     Structure Group 1 Group 2 Group 3 Group 4
0  Structure 1     NaN     NaN      -1     NaN
1  Structure 2      -2      -1      -1      -1
2  Structure 3     NaN     NaN      -2     NaN
3  Structure 4       3     NaN     NaN     NaN
4  Structure 5       4     NaN     NaN     NaN
5  Structure 6       3     NaN     NaN     NaN
6  Structure 7     NaN     NaN     NaN     NaN
7  Structure 8       3     NaN     NaN     NaN
8  Structure 9       2     NaN       2     NaN

In [14]:
data_scale.to_csv('data_scale.csv',index=False) #路徑可以自己修改